{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'ChebiChembl/style.css' %}" />
    {% if latest_question_list %}
                <ul>
                {% for question in latest_question_list %}
                     <h1><a href="http://127.0.0.1:8000/ChebiChembl/results/">{{ views.disease }} Enter disease name -</a></h1>
                {% endfor %}
                </ul>
            {% else %}
                <p>No questions are available.</p>
            {% endif %}
</head>
    
<!--<form action= method="post">
    <input type="text" size ="50" >
    <button type="submit">Submit</button>
</form>-->
<form action="http://127.0.0.1:8000/ChebiChembl/results/" method="post">
    <label for="your_name"></label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <input type="submit" value="OK">
</form>
</html>
