{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'ChebiChembl/style.css' %}" />
</head>





<ul>
<!--{% for choice in question.choice_set.all %}
    <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
{% endfor %}
</ul> -->
<body>
<h1>{{ Question_disease_name.question_text }}</h1>
<div>
<p>
CHEMBL compounds along with their Partition Coefficients are - 
    {{ "Hello world" }}
    <!--{%for item in list%}
        <li>{{item}}</li>
    {% endfor %}-->
</p>
</div>
<a href="http://127.0.0.1:8000/ChebiChembl/index/">Check for another disease?</a>
</body>
</html>